<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_5fl1wBRbEees19kv5-4F_g" specification="interface:&#xA;// Define events and&#xA;// and variables here" name="GeneralPurposeServiceRobot" domainID="com.yakindu.domain.c">
    <regions xmi:id="_5foSAhRbEees19kv5-4F_g" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_5fxb8BRbEees19kv5-4F_g">
        <outgoingTransitions xmi:id="_5f1tYRRbEees19kv5-4F_g" target="_5fyqFBRbEees19kv5-4F_g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5fyqFBRbEees19kv5-4F_g" name="Init" incomingTransitions="_5f1tYRRbEees19kv5-4F_g">
        <outgoingTransitions xmi:id="_j4hTABZFEee5c_lg4OVB-Q" specification="" target="_dNdJMBZFEee5c_lg4OVB-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_dNdJMBZFEee5c_lg4OVB-Q" specification="//sendToMira" name="Entering arena" incomingTransitions="_j4hTABZFEee5c_lg4OVB-Q" documentation="robot enters the arena and drives to a designated&#xD;&#xA;position where it has to wait for further commands.">
        <outgoingTransitions xmi:id="_pHaZwBZFEee5c_lg4OVB-Q" specification="//arrived waypoint" target="_ngHr0BZFEee5c_lg4OVB-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ngHr0BZFEee5c_lg4OVB-Q" specification="//start STT " name="Wait for command" incomingTransitions="_pHaZwBZFEee5c_lg4OVB-Q _sWqukBZGEee5c_lg4OVB-Q">
        <outgoingTransitions xmi:id="_CLVxQBZGEee5c_lg4OVB-Q" specification="" target="_AFcbwBZGEee5c_lg4OVB-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_AFcbwBZGEee5c_lg4OVB-Q" name="Repeat command" incomingTransitions="_CLVxQBZGEee5c_lg4OVB-Q">
        <outgoingTransitions xmi:id="_doY8QBZGEee5c_lg4OVB-Q" specification="" target="_LAlToBZGEee5c_lg4OVB-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_HZq3UBZGEee5c_lg4OVB-Q" specification="//sendToMira" name="Back to operator" incomingTransitions="_eKdukBZGEee5c_lg4OVB-Q">
        <outgoingTransitions xmi:id="_sWqukBZGEee5c_lg4OVB-Q" specification="" target="_ngHr0BZFEee5c_lg4OVB-Q"/>
        <outgoingTransitions xmi:id="_9LXa0BZGEee5c_lg4OVB-Q" specification="//all tasks done" target="_wf8REBZGEee5c_lg4OVB-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LAlToBZGEee5c_lg4OVB-Q" name="do the task" incomingTransitions="_doY8QBZGEee5c_lg4OVB-Q">
        <outgoingTransitions xmi:id="_eKdukBZGEee5c_lg4OVB-Q" specification="" target="_HZq3UBZGEee5c_lg4OVB-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wf8REBZGEee5c_lg4OVB-Q" specification="//2h before test: &#xD;&#xA;//Specify and announce the entrance and exit door" name="Leave the arena" incomingTransitions="_9LXa0BZGEee5c_lg4OVB-Q">
        <outgoingTransitions xmi:id="_QYqWIBZHEee5c_lg4OVB-Q" specification="" target="_OyUqcBZHEee5c_lg4OVB-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_OyUqcBZHEee5c_lg4OVB-Q" incomingTransitions="_QYqWIBZHEee5c_lg4OVB-Q"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_5foSABRbEees19kv5-4F_g" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_5fl1wBRbEees19kv5-4F_g" measurementUnit="Pixel">
    <children xmi:id="_5fsjcBRbEees19kv5-4F_g" type="Region" element="_5foSAhRbEees19kv5-4F_g">
      <children xsi:type="notation:DecorationNode" xmi:id="_5fvmwBRbEees19kv5-4F_g" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5fvmwRRbEees19kv5-4F_g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5fvmwhRbEees19kv5-4F_g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_5fwN0BRbEees19kv5-4F_g" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_5fxb8RRbEees19kv5-4F_g" type="Entry" element="_5fxb8BRbEees19kv5-4F_g">
          <children xmi:id="_5fyDABRbEees19kv5-4F_g" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_5fyqEBRbEees19kv5-4F_g" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_5fyqERRbEees19kv5-4F_g"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_5fyqEhRbEees19kv5-4F_g"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5fyDARRbEees19kv5-4F_g" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5fyDAhRbEees19kv5-4F_g"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5fxb8hRbEees19kv5-4F_g" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_5fxb8xRbEees19kv5-4F_g" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5fyqExRbEees19kv5-4F_g" x="70" y="20"/>
        </children>
        <children xmi:id="_5fz4MBRbEees19kv5-4F_g" type="State" element="_5fyqFBRbEees19kv5-4F_g">
          <children xsi:type="notation:DecorationNode" xmi:id="_5f0fQBRbEees19kv5-4F_g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5f0fQRRbEees19kv5-4F_g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5f0fQhRbEees19kv5-4F_g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5f1GUBRbEees19kv5-4F_g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5f1GURRbEees19kv5-4F_g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5f1GUhRbEees19kv5-4F_g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5f1GUxRbEees19kv5-4F_g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5fz4MRRbEees19kv5-4F_g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5fz4MhRbEees19kv5-4F_g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5f1GVBRbEees19kv5-4F_g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5f1tYBRbEees19kv5-4F_g" x="21" y="80" width="132" height="104"/>
        </children>
        <children xmi:id="_dNiowBZFEee5c_lg4OVB-Q" type="State" element="_dNdJMBZFEee5c_lg4OVB-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_dNkd8BZFEee5c_lg4OVB-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_dNkd8RZFEee5c_lg4OVB-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_dNkd8hZFEee5c_lg4OVB-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dNlFABZFEee5c_lg4OVB-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_dNlsEBZFEee5c_lg4OVB-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dNlsERZFEee5c_lg4OVB-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dNmTIBZFEee5c_lg4OVB-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_dNiowRZFEee5c_lg4OVB-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_dNiowhZFEee5c_lg4OVB-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_dNmTIRZFEee5c_lg4OVB-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dNiowxZFEee5c_lg4OVB-Q" x="21" y="227" width="187" height="111"/>
        </children>
        <children xmi:id="_ngI58BZFEee5c_lg4OVB-Q" type="State" element="_ngHr0BZFEee5c_lg4OVB-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_ngJhABZFEee5c_lg4OVB-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ngJhARZFEee5c_lg4OVB-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ngJhAhZFEee5c_lg4OVB-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ngJhAxZFEee5c_lg4OVB-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ngJhBBZFEee5c_lg4OVB-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ngJhBRZFEee5c_lg4OVB-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ngKIEBZFEee5c_lg4OVB-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ngI58RZFEee5c_lg4OVB-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ngI58hZFEee5c_lg4OVB-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ngKIERZFEee5c_lg4OVB-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ngI58xZFEee5c_lg4OVB-Q" x="21" y="420" width="238" height="84"/>
        </children>
        <children xmi:id="_AFdp4BZGEee5c_lg4OVB-Q" type="State" element="_AFcbwBZGEee5c_lg4OVB-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_AFeQ8BZGEee5c_lg4OVB-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AFeQ8RZGEee5c_lg4OVB-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_AFeQ8hZGEee5c_lg4OVB-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AFeQ8xZGEee5c_lg4OVB-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_AFeQ9BZGEee5c_lg4OVB-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AFeQ9RZGEee5c_lg4OVB-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AFeQ9hZGEee5c_lg4OVB-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AFdp4RZGEee5c_lg4OVB-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_AFdp4hZGEee5c_lg4OVB-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AFe4ABZGEee5c_lg4OVB-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AFdp4xZGEee5c_lg4OVB-Q" x="33" y="545" width="232" height="92"/>
        </children>
        <children xmi:id="_HZsFcBZGEee5c_lg4OVB-Q" type="State" element="_HZq3UBZGEee5c_lg4OVB-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_HZssgBZGEee5c_lg4OVB-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_HZssgRZGEee5c_lg4OVB-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_HZssghZGEee5c_lg4OVB-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HZssgxZGEee5c_lg4OVB-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_HZtTkBZGEee5c_lg4OVB-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HZtTkRZGEee5c_lg4OVB-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HZuhsBZGEee5c_lg4OVB-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_HZsFcRZGEee5c_lg4OVB-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_HZsFchZGEee5c_lg4OVB-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_HZuhsRZGEee5c_lg4OVB-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HZsFcxZGEee5c_lg4OVB-Q" x="18" y="825" width="230" height="119"/>
        </children>
        <children xmi:id="_LAl6sBZGEee5c_lg4OVB-Q" type="State" element="_LAlToBZGEee5c_lg4OVB-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_LAmhwBZGEee5c_lg4OVB-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LAmhwRZGEee5c_lg4OVB-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LAmhwhZGEee5c_lg4OVB-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LAmhwxZGEee5c_lg4OVB-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LAmhxBZGEee5c_lg4OVB-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LAmhxRZGEee5c_lg4OVB-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LAmhxhZGEee5c_lg4OVB-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LAl6sRZGEee5c_lg4OVB-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LAl6shZGEee5c_lg4OVB-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LAmhxxZGEee5c_lg4OVB-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LAl6sxZGEee5c_lg4OVB-Q" x="32" y="687" width="234" height="63"/>
        </children>
        <children xmi:id="_wf9fMBZGEee5c_lg4OVB-Q" type="State" element="_wf8REBZGEee5c_lg4OVB-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_wf9fNBZGEee5c_lg4OVB-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wf9fNRZGEee5c_lg4OVB-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wf9fNhZGEee5c_lg4OVB-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wf9fNxZGEee5c_lg4OVB-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wf9fOBZGEee5c_lg4OVB-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wf9fORZGEee5c_lg4OVB-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wf-GQBZGEee5c_lg4OVB-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wf9fMRZGEee5c_lg4OVB-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wf9fMhZGEee5c_lg4OVB-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wf-GQRZGEee5c_lg4OVB-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wf9fMxZGEee5c_lg4OVB-Q" x="617" y="853" width="505" height="109"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_OyVRgBZHEee5c_lg4OVB-Q" type="FinalState" element="_OyUqcBZHEee5c_lg4OVB-Q" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OyVRgRZHEee5c_lg4OVB-Q" x="857" y="1057"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5fwN0RRbEees19kv5-4F_g"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_5fsjcRRbEees19kv5-4F_g" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5fw04BRbEees19kv5-4F_g" x="328" y="28" width="1368" height="1172"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_5f5XwBRbEees19kv5-4F_g" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_5f5XwhRbEees19kv5-4F_g" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5f5XwxRbEees19kv5-4F_g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5f5XxBRbEees19kv5-4F_g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_5f5XxRRbEees19kv5-4F_g" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5f5XxhRbEees19kv5-4F_g"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5f5-0BRbEees19kv5-4F_g" x="10" y="10" width="276" height="1188"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_5foSARRbEees19kv5-4F_g"/>
    <edges xmi:id="_5f3ikBRbEees19kv5-4F_g" type="Transition" element="_5f1tYRRbEees19kv5-4F_g" source="_5fxb8RRbEees19kv5-4F_g" target="_5fz4MBRbEees19kv5-4F_g">
      <children xsi:type="notation:DecorationNode" xmi:id="_5f4JoRRbEees19kv5-4F_g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5f4JohRbEees19kv5-4F_g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5f4JoxRbEees19kv5-4F_g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5f3ikRRbEees19kv5-4F_g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5f4JoBRbEees19kv5-4F_g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5f3ikhRbEees19kv5-4F_g" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_j4jIMBZFEee5c_lg4OVB-Q" type="Transition" element="_j4hTABZFEee5c_lg4OVB-Q" source="_5fz4MBRbEees19kv5-4F_g" target="_dNiowBZFEee5c_lg4OVB-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_j4jvQBZFEee5c_lg4OVB-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j4jvQRZFEee5c_lg4OVB-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j4jvQhZFEee5c_lg4OVB-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j4jIMRZFEee5c_lg4OVB-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j4jIMxZFEee5c_lg4OVB-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j4jIMhZFEee5c_lg4OVB-Q" points="[-3, 1, 2, -59]$[-3, 49, 2, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j4lkcBZFEee5c_lg4OVB-Q" id="(0.5833333333333334,0.9903846153846154)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j4lkcRZFEee5c_lg4OVB-Q" id="(0.37967914438502676,0.10810810810810811)"/>
    </edges>
    <edges xmi:id="_pHcO8BZFEee5c_lg4OVB-Q" type="Transition" element="_pHaZwBZFEee5c_lg4OVB-Q" source="_dNiowBZFEee5c_lg4OVB-Q" target="_ngI58BZFEee5c_lg4OVB-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_pHcO9BZFEee5c_lg4OVB-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pHcO9RZFEee5c_lg4OVB-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pHcO9hZFEee5c_lg4OVB-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_pHcO8RZFEee5c_lg4OVB-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_pHcO8xZFEee5c_lg4OVB-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_pHcO8hZFEee5c_lg4OVB-Q" points="[2, 1, 2, -33]$[2, 27, 2, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pHeEIBZFEee5c_lg4OVB-Q" id="(0.5133689839572193,0.9819819819819819)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pHeEIRZFEee5c_lg4OVB-Q" id="(0.40756302521008403,0.19047619047619047)"/>
    </edges>
    <edges xmi:id="_CLW_YBZGEee5c_lg4OVB-Q" type="Transition" element="_CLVxQBZGEee5c_lg4OVB-Q" source="_ngI58BZFEee5c_lg4OVB-Q" target="_AFdp4BZGEee5c_lg4OVB-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_CLW_ZBZGEee5c_lg4OVB-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CLW_ZRZGEee5c_lg4OVB-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CLW_ZhZGEee5c_lg4OVB-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CLW_YRZGEee5c_lg4OVB-Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CLW_YxZGEee5c_lg4OVB-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CLW_YhZGEee5c_lg4OVB-Q" points="[3, 0, 16, -59]$[3, 46, 16, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CLY0kBZGEee5c_lg4OVB-Q" id="(0.42436974789915966,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CLZboBZGEee5c_lg4OVB-Q" id="(0.3232758620689655,0.15217391304347827)"/>
    </edges>
    <edges xmi:id="_doaKYBZGEee5c_lg4OVB-Q" type="Transition" element="_doY8QBZGEee5c_lg4OVB-Q" source="_AFdp4BZGEee5c_lg4OVB-Q" target="_LAl6sBZGEee5c_lg4OVB-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_doaKZBZGEee5c_lg4OVB-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_doaKZRZGEee5c_lg4OVB-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_doaKZhZGEee5c_lg4OVB-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_doaKYRZGEee5c_lg4OVB-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_doaKYxZGEee5c_lg4OVB-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_doaKYhZGEee5c_lg4OVB-Q" points="[-3, 1, 2, -58]$[-3, 56, 2, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dob_kBZGEee5c_lg4OVB-Q" id="(0.375,0.9891304347826086)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dob_kRZGEee5c_lg4OVB-Q" id="(0.3547008547008547,0.06349206349206349)"/>
    </edges>
    <edges xmi:id="_eKeVoBZGEee5c_lg4OVB-Q" type="Transition" element="_eKdukBZGEee5c_lg4OVB-Q" source="_LAl6sBZGEee5c_lg4OVB-Q" target="_HZsFcBZGEee5c_lg4OVB-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_eKeVpBZGEee5c_lg4OVB-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eKeVpRZGEee5c_lg4OVB-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eKeVphZGEee5c_lg4OVB-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eKeVoRZGEee5c_lg4OVB-Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eKeVoxZGEee5c_lg4OVB-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eKeVohZGEee5c_lg4OVB-Q" points="[0, 2, 27, -91]$[0, 82, 27, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eKfjwBZGEee5c_lg4OVB-Q" id="(0.27350427350427353,0.9682539682539683)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eKgK0BZGEee5c_lg4OVB-Q" id="(0.2217391304347826,0.10084033613445378)"/>
    </edges>
    <edges xmi:id="_sWrVoBZGEee5c_lg4OVB-Q" type="Transition" element="_sWqukBZGEee5c_lg4OVB-Q" source="_HZsFcBZGEee5c_lg4OVB-Q" target="_ngI58BZFEee5c_lg4OVB-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_sWr8sBZGEee5c_lg4OVB-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sWr8sRZGEee5c_lg4OVB-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sWr8shZGEee5c_lg4OVB-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sWrVoRZGEee5c_lg4OVB-Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sWrVoxZGEee5c_lg4OVB-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sWrVohZGEee5c_lg4OVB-Q" points="[0, -29, -1, 399]$[83, -29, 82, 399]$[83, -438, 82, -10]$[11, -438, 10, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sWsjwBZGEee5c_lg4OVB-Q" id="(1.0,0.6218487394957983)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sWsjwRZGEee5c_lg4OVB-Q" id="(0.957983193277311,0.5952380952380952)"/>
    </edges>
    <edges xmi:id="_9LZQABZGEee5c_lg4OVB-Q" type="Transition" element="_9LXa0BZGEee5c_lg4OVB-Q" source="_HZsFcBZGEee5c_lg4OVB-Q" target="_wf9fMBZGEee5c_lg4OVB-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_9LZQBBZGEee5c_lg4OVB-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9LZQBRZGEee5c_lg4OVB-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9LZQBhZGEee5c_lg4OVB-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9LZQARZGEee5c_lg4OVB-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9LZQAxZGEee5c_lg4OVB-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9LZQAhZGEee5c_lg4OVB-Q" points="[1, 0, -199, 2]$[201, -25, 1, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9LaeIBZGEee5c_lg4OVB-Q" id="(0.9956521739130435,0.7478991596638656)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9LaeIRZGEee5c_lg4OVB-Q" id="(0.12552301255230125,0.45871559633027525)"/>
    </edges>
    <edges xmi:id="_QYq9MBZHEee5c_lg4OVB-Q" type="Transition" element="_QYqWIBZHEee5c_lg4OVB-Q" source="_wf9fMBZGEee5c_lg4OVB-Q" target="_OyVRgBZHEee5c_lg4OVB-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_QYrkQRZHEee5c_lg4OVB-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QYrkQhZHEee5c_lg4OVB-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QYrkQxZHEee5c_lg4OVB-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QYq9MRZHEee5c_lg4OVB-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QYrkQBZHEee5c_lg4OVB-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QYq9MhZHEee5c_lg4OVB-Q" points="[-1, 0, -2, -81]$[-5, 81, -6, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QYsyYBZHEee5c_lg4OVB-Q" id="(0.49306930693069306,1.0)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
