<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_JpYEgCW6Eee3AZC_9tnEag" specification="interface Kinect2:&#xA;&#x9;in event personDetected&#xA;&#x9;in event  noiseDeviatinWithoutBoneDetected&#xA;&#x9;in event noiseWithBoneDetected&#xA;&#x9;in event  wavingDetected&#xA;&#x9;operation getNoiseAngle() : integer&#xA;&#x9;operation getWavingX(): real&#xA;&#x9;operation getWavingY(): real&#xA;&#x9;operation sendNoiseDetectionOnOff(inOnOff : boolean):void&#xA;&#x9;operation sendWavingDetectionOnOff(inOnOff : boolean):void&#xA;&#x9;&#xA;interface HBrain:&#xA;&#x9;in event TTSReady&#xA;&#x9;operation sendTTS(inText : string):void&#xA;&#x9;operation sendTTS2(inT1 : string, inT2 : string):void&#xA;&#x9;operation sendTTS3(inT1 : string, inT2 : string, inT3 : string):void&#xA;&#x9;operation sendTTS_num(inNum : integer):void&#xA;&#x9;operation sendTTSWithPos(inPos : string, inText : string):void&#xA;&#x9;operation sendPersonPosition():void" name="Test_Waving">
    <regions xmi:id="_JpZ5siW6Eee3AZC_9tnEag" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_JpfZQSW6Eee3AZC_9tnEag">
        <outgoingTransitions xmi:id="_v-qjUCaJEeeInd9KxN6PKQ" specification="" target="_t_x0wCaJEeeInd9KxN6PKQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_JpgnYCW6Eee3AZC_9tnEag" specification="entry /&#xA;Kinect2.sendWavingDetectionOnOff(true)" name="DetectionOn" incomingTransitions="_Jph1giW6Eee3AZC_9tnEag">
        <outgoingTransitions xmi:id="__mnNoCzhEeecj-uLLtmD-Q" specification="Kinect2.wavingDetected" target="_Pd19cCZ-EeeInd9KxN6PKQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Pd19cCZ-EeeInd9KxN6PKQ" specification="entry /&#xA;Kinect2.sendWavingDetectionOnOff(false);&#xA;HBrain.sendTTS(&quot;[:-O] Thank you!&quot;)" name="TrackingOn" incomingTransitions="__mnNoCzhEeecj-uLLtmD-Q">
        <outgoingTransitions xmi:id="_U63OYCziEeecj-uLLtmD-Q" specification="after 2s" target="_t_x0wCaJEeeInd9KxN6PKQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_t_x0wCaJEeeInd9KxN6PKQ" specification="entry /&#xA;HBrain.sendTTS(&quot;[:-|] Can you please wave for me? [:-)]&quot;)" name="Welcome" incomingTransitions="_v-qjUCaJEeeInd9KxN6PKQ _U63OYCziEeecj-uLLtmD-Q">
        <outgoingTransitions xmi:id="_Jph1giW6Eee3AZC_9tnEag" specification="HBrain.TTSReady" target="_JpgnYCW6Eee3AZC_9tnEag"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_JpZ5sCW6Eee3AZC_9tnEag" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_JpYEgCW6Eee3AZC_9tnEag" measurementUnit="Pixel">
    <children xmi:id="_JpcV8CW6Eee3AZC_9tnEag" type="Region" element="_JpZ5siW6Eee3AZC_9tnEag">
      <children xsi:type="notation:DecorationNode" xmi:id="_JpeyMCW6Eee3AZC_9tnEag" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JpeyMSW6Eee3AZC_9tnEag"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JpeyMiW6Eee3AZC_9tnEag"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_JpeyMyW6Eee3AZC_9tnEag" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_JpfZQiW6Eee3AZC_9tnEag" type="Entry" element="_JpfZQSW6Eee3AZC_9tnEag">
          <children xmi:id="_JpgAUCW6Eee3AZC_9tnEag" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_JpgAUyW6Eee3AZC_9tnEag" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_JpgAVCW6Eee3AZC_9tnEag"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_JpgAVSW6Eee3AZC_9tnEag"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JpgAUSW6Eee3AZC_9tnEag" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JpgAUiW6Eee3AZC_9tnEag"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JpfZQyW6Eee3AZC_9tnEag" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_JpfZRCW6Eee3AZC_9tnEag" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JpgAViW6Eee3AZC_9tnEag" x="178" y="-7"/>
        </children>
        <children xmi:id="_JpgnYyW6Eee3AZC_9tnEag" type="State" element="_JpgnYCW6Eee3AZC_9tnEag">
          <children xsi:type="notation:DecorationNode" xmi:id="_JphOcCW6Eee3AZC_9tnEag" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JphOcSW6Eee3AZC_9tnEag"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JphOciW6Eee3AZC_9tnEag"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JphOcyW6Eee3AZC_9tnEag" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JphOdCW6Eee3AZC_9tnEag" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JphOdSW6Eee3AZC_9tnEag"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JphOdiW6Eee3AZC_9tnEag" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JpgnZCW6Eee3AZC_9tnEag" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JpgnZSW6Eee3AZC_9tnEag"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Jph1gCW6Eee3AZC_9tnEag" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Jph1gSW6Eee3AZC_9tnEag" x="52" y="111" width="321"/>
        </children>
        <children xmi:id="_Pd4ZsCZ-EeeInd9KxN6PKQ" type="State" element="_Pd19cCZ-EeeInd9KxN6PKQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_Pd5n0CZ-EeeInd9KxN6PKQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Pd5n0SZ-EeeInd9KxN6PKQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Pd5n0iZ-EeeInd9KxN6PKQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Pd6O4CZ-EeeInd9KxN6PKQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Pd6O4SZ-EeeInd9KxN6PKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pd6O4iZ-EeeInd9KxN6PKQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Pd618CZ-EeeInd9KxN6PKQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Pd4ZsSZ-EeeInd9KxN6PKQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Pd4ZsiZ-EeeInd9KxN6PKQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Pd618SZ-EeeInd9KxN6PKQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pd4ZsyZ-EeeInd9KxN6PKQ" x="52" y="246" width="321"/>
        </children>
        <children xmi:id="_t_zC4CaJEeeInd9KxN6PKQ" type="State" element="_t_x0wCaJEeeInd9KxN6PKQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_t_zC5CaJEeeInd9KxN6PKQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_t_zp8CaJEeeInd9KxN6PKQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_t_zp8SaJEeeInd9KxN6PKQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_t_zp8iaJEeeInd9KxN6PKQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_t_zp8yaJEeeInd9KxN6PKQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_t_zp9CaJEeeInd9KxN6PKQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_t_zp9SaJEeeInd9KxN6PKQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_t_zC4SaJEeeInd9KxN6PKQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_t_zC4iaJEeeInd9KxN6PKQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_t_zp9iaJEeeInd9KxN6PKQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_t_zC4yaJEeeInd9KxN6PKQ" x="52" y="29" width="321"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JpeyNCW6Eee3AZC_9tnEag"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_JpcV8SW6Eee3AZC_9tnEag" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JpfZQCW6Eee3AZC_9tnEag" x="378" y="10" width="724" height="570"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_JpjqsCW6Eee3AZC_9tnEag" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_JpjqsiW6Eee3AZC_9tnEag" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JpjqsyW6Eee3AZC_9tnEag"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JpjqtCW6Eee3AZC_9tnEag"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_JpjqtSW6Eee3AZC_9tnEag" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JpjqtiW6Eee3AZC_9tnEag"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JpkRwCW6Eee3AZC_9tnEag" x="10" y="10" width="345" height="610"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_JpZ5sSW6Eee3AZC_9tnEag"/>
    <edges xmi:id="_JpickCW6Eee3AZC_9tnEag" type="Transition" element="_Jph1giW6Eee3AZC_9tnEag" source="_t_zC4CaJEeeInd9KxN6PKQ" target="_JpgnYyW6Eee3AZC_9tnEag">
      <children xsi:type="notation:DecorationNode" xmi:id="_JpjDoyW6Eee3AZC_9tnEag" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JpjDpCW6Eee3AZC_9tnEag"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JpjDpSW6Eee3AZC_9tnEag" x="-4" y="49"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JpjDoCW6Eee3AZC_9tnEag" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JpjDoiW6Eee3AZC_9tnEag" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JpjDoSW6Eee3AZC_9tnEag" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_usoTsCaJEeeInd9KxN6PKQ" id="(0.4735202492211838,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_v-rKYCaJEeeInd9KxN6PKQ" type="Transition" element="_v-qjUCaJEeeInd9KxN6PKQ" source="_JpfZQiW6Eee3AZC_9tnEag" target="_t_zC4CaJEeeInd9KxN6PKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_v-rxcSaJEeeInd9KxN6PKQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_v-rxciaJEeeInd9KxN6PKQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_v-rxcyaJEeeInd9KxN6PKQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_v-rKYSaJEeeInd9KxN6PKQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_v-rxcCaJEeeInd9KxN6PKQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_v-rKYiaJEeeInd9KxN6PKQ" points="[0, 7, -3, -65]$[4, 48, 1, -24]"/>
    </edges>
    <edges xmi:id="__mn0sCzhEeecj-uLLtmD-Q" type="Transition" element="__mnNoCzhEeecj-uLLtmD-Q" source="_JpgnYyW6Eee3AZC_9tnEag" target="_Pd4ZsCZ-EeeInd9KxN6PKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="__mn0tCzhEeecj-uLLtmD-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__mn0tSzhEeecj-uLLtmD-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__mn0tizhEeecj-uLLtmD-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__mn0sSzhEeecj-uLLtmD-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__mn0syzhEeecj-uLLtmD-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__mn0sizhEeecj-uLLtmD-Q" points="[-9, 0, 6, -115]$[-9, 87, 6, -28]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__mobwCzhEeecj-uLLtmD-Q" id="(0.5482866043613707,1.0)"/>
    </edges>
    <edges xmi:id="_U631cCziEeecj-uLLtmD-Q" type="Transition" element="_U63OYCziEeecj-uLLtmD-Q" source="_Pd4ZsCZ-EeeInd9KxN6PKQ" target="_t_zC4CaJEeeInd9KxN6PKQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_U631dCziEeecj-uLLtmD-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_U631dSziEeecj-uLLtmD-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_U631diziEeecj-uLLtmD-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_U631cSziEeecj-uLLtmD-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_U631cyziEeecj-uLLtmD-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_U631ciziEeecj-uLLtmD-Q" points="[9, 0, 17, 221]$[149, 0, 157, 221]$[149, -211, 157, 10]$[9, -211, 17, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_U64cgCziEeecj-uLLtmD-Q" id="(0.9719626168224299,0.5245901639344263)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_U64cgSziEeecj-uLLtmD-Q" id="(0.9470404984423676,0.5283018867924528)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
